/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
	margin: 0 auto;
	max-width: 250px;
	/*background-image: url("images/bild.jpg");*/
}

.text-red {
	background-color: white;
	color: red;
}

.margin-left {
	margin-left: auto;
}

.header-button {
	margin-right: 5px;
	margin-left: 5px;
}

.registration-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 200px;
}

.flag-icon {
	margin-right: 5px;
	margin-top: 10px;
}


